name: renovate-config-validator

on:
  pull_request:
    paths:
      - .github/workflows/renovate-config-validator.yaml
      - renovate.json5
  push:
    branches:
      - main
    paths:
      - .github/workflows/renovate-config-validator.yaml
      - renovate.json5

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v2.0.0
